body {
    background-color:teal;
    color: aliceblue;

}


.btn {
    color:white; 
    color:blueviolet;
}

.choice {
    border: 1px solid lightgrey;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jumbotron {
    color: black;
    background-color: blueviolet;
}